<div class="container" style="margin-top:61px;">
    <!-- 1 column -->
    <div class="row">
        <h3> content for basic content page </h3>

      <main class="content col-md-12">
      
      <div class="page-header">
			  <div data-sly-resource="${'sectionTitle' @ resourceType='wcm/foundation/components/title'}"></div>  
      </div>
  		  
        <div data-sly-resource="${'centerParsys' @ resourceType='wcm/foundation/components/parsys'}"></div>	
      </main>
    </div>
</div> <!-- /container -->