
<div data-sly-test="${wcmmode.edit && !properties.textName}" class="container_box">Please edit the ${component.name} component</div>

<div data-sly-test="${properties.textName}" class="AEM_App_class">
    
<h4 data-sly-test="${properties.textName}">Text property(only with prop value): ${properties.textName}</h4>

<p> This is text area value: ${properties.textProp2} </p>

<p> Using multifield property </p>

<dl data-sly-list="${properties.pages}">
    <dt>index: ${itemList.index}</dt>
    <dd>value: ${item}</dd>
</dl>

</div>